@using anchor1.Helpers;
<button type="submit" class="btn btn-success btn-default" id="sub" style="width:150px">Update</button>
&nbsp;&nbsp;&nbsp;
@Html.EncodedActionLink("Back To List", "index", null, new { pc = "1" }, new { @class = "btn btn-primary btn-default ", @style = " width : 150px; " })
&nbsp;&nbsp;&nbsp;
<span class="btn  btn-danger btn-default" id="id_delete" style="width:150px">Delete Record</span>
<br />
<hr />
