@using anchor1.Helpers;

<button type="submit" class="btn btn-success btn-default tabvalid valshow" style="width:150px" value="1" name="upsub">Update</button>
&nbsp;&nbsp;&nbsp;
<button type="reset" class="btn btn-primary " style="width:150px" value="0" name="upsub">Cancel</button>
<br />
<hr />